@import "https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css";
@tailwind base;

:root {
  color-scheme: light dark;
}

@layer base {
    input, textarea {
        @apply                 
        block
        w-full
        px-2
        py-1
        mb-2
        mt-1
        text-sm
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        border-2 
        read-only:bg-gray-100
        autofill:bg-yellow-200
        placeholder-shown:border-gray-500
        out-of-range:border-red-500        
        focus:text-gray-700 
        focus:bg-white 
        focus:border-blue-500 
        focus:outline-none
    }    
    
    label {
        @apply
        text-sm
        text-gray-700        
        font-normal                
    }

    .p-label {
        @apply
        text-sm
        text-gray-700        
        font-normal                
    }

    select {
      @apply
      bg-gray-50 border
      border-gray-300
      text-gray-900 text-sm rounded transition ease-in-out
      focus:ring-blue-500
      focus:border-blue-500 block w-full px-2 py-1 border-2      
      dark:border-gray-600
      dark:placeholder-gray-400
      dark:text-white
      dark:focus:ring-blue-500
      dark:focus:border-blue-500
    }

    .checkbox-1{
      @apply
      w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:border-gray-600
    }

    button {
        @apply
        items-center
        rounded-md
        border
        border-transparent
        px-4
        py-2
        text-sm
        font-medium
        shadow-sm
        focus:ring-1 focus:ring-offset-1        
    }

    button:disabled {
      @apply
      opacity-70
    }

    .btn {
      @apply items-center rounded-md border border-transparent px-4 py-2 text-sm font-medium shadow-sm
    }

    .btn-sm {
      @apply
      px-2 py-1
      text-xs
    }

    .btn-primary {
        @apply
        bg-blue-600
        hover:bg-blue-700
        focus:bg-blue-700
        text-white
    }

    .btn-success {
        @apply
        bg-green-600
        hover:bg-green-700
        focus:bg-green-700
        text-white
    }

    .btn-secondary {
      @apply
      bg-gray-600
      hover:bg-gray-700
      focus:bg-gray-700
      text-white
    }

    .btn-default {
      @apply
    bg-indigo-600
    hover:bg-indigo-700
    focus:ring-indigo-500
    text-white
    }

    .btn-warning {
      @apply
    bg-yellow-500 hover:bg-yellow-600 focus:bg-yellow-600 text-black
    }
    
    .btn-danger {
      @apply
    bg-red-600 hover:bg-red-700 focus:bg-red-700 text-white
    }

    table {
      @apply
      w-full text-sm text-left text-gray-500 dark:text-gray-400
      relative overflow-x-auto shadow-inner sm:rounded-lg border-collapse border border-slate-200
    }

    table thead {
      @apply
      text-gray-700 bg-gray-50 dark:text-gray-400
    }

    table thead>th {
      @apply
      px-2 py-1
    }

    table th {
      @apply
      px-2 py-3
    }

    table tr {
      @apply
      border-y
    }

    table tr>td {
      @apply
      px-2 py-1
    }

    .card-1 {
      @apply
      p-6 
      bg-white border 
      border-gray-200       
      dark:border-gray-200
      rounded-lg shadow 
    }

    .title-1 {
      @apply
      mb-3 text-base font-semibold
      text-gray-900
      dark:text-white
    }


    .tabs-group {
      @apply
      border-b border-gray-200 dark:border-gray-700
    }

    .tabs-group ul {
      @apply
      flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400;      
    }

    .tabs-group ul li {
      @apply
      mr-2
    }

    .tabs-group ul li a {
      @apply
      inline-flex p-4 border-b-2 border-transparent rounded-t-lg 
      hover:text-gray-600
      hover:border-gray-300
      dark:hover:text-gray-300
    }
    
    .tabs-group ul li a.active {
      @apply
      text-blue-600 border-b-2
      border-blue-600 rounded-t-lg
      dark:text-blue-500 dark:border-blue-500
    }

    .tabs-group ul li a.active svg {
      @apply
      text-blue-600 dark:text-blue-500
    }

    .badge {
      display: block;
      width: fit-content;
      @apply
      text-xs mr-2 px-2.5 py-0.5 rounded
    }

    .badge.primary {
      @apply      
      text-blue-800
      bg-blue-100
      dark:text-blue-500 border border-blue-500
    }

    .badge.secondary {
      @apply      
      text-gray-800
      bg-gray-100
      dark:text-gray-400 border border-gray-500
    }

    .badge.danger {
      @apply            
      text-red-800
      bg-red-100      
      dark:text-red-500 border border-red-500
    }

    .badge.success {
      @apply            
      text-green-800
      bg-green-100      
      dark:text-green-500 border border-green-500
    }

    .badge.warning {
      @apply            
      text-yellow-800
      bg-yellow-100      
      dark:text-yellow-500 border border-yellow-500
    }












    .div-contract {      
      text-align: center;
      width: 90px;
      cursor: pointer;
      opacity: 0.5;
    }

    .div-contract:hover {
      background: #bbdefb;
      border-radius: 5px;
    }

    .div-contract.desactivated {      
      opacity: 0.5;
    }

    .div-contract .date-title {
      background: #424242;
      color: white;
      width: 70px;
      text-align: center;
      margin: 0 auto;
      border-radius: 5px;
      font-size: 12px;      
      padding: 2px;
    }

    .div-contract .now-market {
      background: #303f9f;      
    }

    .div-contract.selected {
      background: #deeeff;
      padding: 5px;
      border-radius: 5px;
      opacity: 1;
    }


    .list-item-u {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e0e0e0;
      padding: 6px;
      /* transition: all 1s; */
      transition: all ease-in 1s;          
    }

    .list-item-u p {
      font-size: 12px;
    }

    
    

    .list-item-u .btn-remove-item {      
      margin-right: 5px;
      cursor: pointer;
      display: none;    
      transition: all ease-in 1s;
    }

    .list-item-u:hover .btn-remove-item {
      display: inline;
    }

    .div-list-boleta {      
      border: 1px solid #e0e0e0;
      background: #fdfdfd;
      overflow-y: auto;
    }

    .div-list-boleta.hmin {
      height: 320px;      
    }

    .div-list-boleta .titulo {
      padding: 10px;
      background: #33495c;
      color: white;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
    }

    .div-list-boleta .titulo-print {
      padding: 10px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e0e0e0;
    }

    


    .div-totales {
      background: lavender;
      padding: 10px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      margin: 2px;
    }

    .div-totales-print {
      /* background: lavender; */
      padding: 10px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      margin: 2px;
      font-weight: 600;
      border-bottom: 1px solid #e0e0e0;
    }


    .fs-10 {
        font-size: 10px;
    }

    .fs-12 {
        font-size: 12px;
    }


}